<footer class="page-footer black darken-3">
    <div class="container">
        <div class="row">
            <div class="col s4 m4">
                <h5 class="white-text">Shopping</h5>
                <ul>
                    <li><a class="white-text" href="kadin">Woman</a></li>
                    <li><a class="white-text" href="erkek">Man</a></li>
                    <li><a class="white-text" href="cocuk">Kids</a></li>
                </ul>
            </div>
            <div class="col s4 m4">
                <h5 class="white-text">
                    <%= session.siteText[session.siteLang].footer.corp %>
                </h5>
                <ul>
                    <li><a class="white-text" href="#!">Link 1</a></li>
                    <li><a class="white-text" href="#!">Link 2</a></li>
                    <li><a class="white-text" href="#!">Link 3</a></li>
                    <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
            </div>
            <div class="col s4 m4">
                <h5 class="white-text">
                    <%= session.siteText[session.siteLang].footer.social %>
                </h5>
                <ul>
                    <li><a class="white-text" href="#!">
                            <%= session.siteText[session.siteLang].footer.mailList %>
                        </a></li>
                    <li><a class="white-text" href="#!">Facebook</a></li>
                    <li><a class="white-text" href="#!">Instagram</a></li>
                    <li><a class="white-text" href="#!">Twitter</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright darken-4" style="background-color: #040404; padding: 3em 0;">
        <div class="container center">
            < insert copyright stuff here>
        </div>
    </div>
    <div class="footer-copyright darken-4" style="background-color: #040404;
    padding: 2em 0;">
        <div class="row">
            <a href="/" class="brand-logo center col s6 l4 offset-s3 offset-l4">
                <img class="responsive-img" src="/images/footerlogo.png" />
            </a>
        </div>
    </div>
</footer>

</body>

<!-- Compiled and minified CSS -->
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/javascripts/zalina.js"></script>

</html>