<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8">
    <title>
        Zalina | <%= title %>
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
    <header>
        <nav class="nav-extended white">
            <%- include navbar/navbar-top %>

            <div class="nav-wrapper" style="margin-bottom:3em;">
                <a href="/" class="brand-logo center">
                    <img style="width: 25%; border-radius: 5px;" class="responsive-img" src="/images/zalinalogo.png" />
                </a>
            </div>

            <%- include navbar/navbar-bottom %>
        </nav>
    </header>
