<% const trMap = {'çÇ':'c','ğĞ':'g','şŞ':'s','üÜ':'u','ıİ':'i','öÖ':'o'}; %>
<ul class="collection col s12 m3">
    <% sidemenuLinks.forEach((item, index) => { %>
    <li class="collection-item">
        <%
        let itemFixed = item.replace(/\s+/g, '-').replace(/\&+/g, '-').replace(/[-]+/gi, "-").trim().toLowerCase();
        for (const key in trMap) {
            itemFixed = itemFixed.replace(new RegExp('['+key+']','g'), trMap[key]);
        }
        %>
        <a href="/<%= category %>/<%= itemFixed %>">
            <%= sidemenu[index] %>
        </a>
    </li>
    <% }); %>
</ul>
