<ul id="sg-slide-out" class="sidenav">
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header">Gömlek<i class="material-icons">arrow_drop_down</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li>
                            <table>
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>XS</th>
                                        <th>S</th>
                                        <th>M</th>
                                        <th>L</th>
                                        <th>XL</th>
                                        <th>2XL</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>EUR</td>
                                        <td>35/36</td>
                                        <td>37/38</td>
                                        <td>39/40</td>
                                        <td>41/42</td>
                                        <td>43/44</td>
                                        <td>45/46</td>
                                    </tr>
                                    <tr>
                                        <td>Göğüs (cm)</td>
                                        <td>80-84</td>
                                        <td>88-92</td>
                                        <td>96-100</td>
                                        <td>104-108</td>
                                        <td>112-116</td>
                                        <td>120-124</td>
                                    </tr>
                                    <tr>
                                        <td>Bel (cm)</td>
                                        <td>68-72</td>
                                        <td>76-80</td>
                                        <td>84-88</td>
                                        <td>92-96</td>
                                        <td>100-104</td>
                                        <td>108-112</td>
                                    </tr>
                                </tbody>
                            </table>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a class="collapsible-header">placeholder<i class="material-icons">arrow_drop_down</i></a>
                <div class="collapsible-body">
                    < insert data here>
                </div>
            </li>
            <li>
                <a class="collapsible-header">placeholder<i class="material-icons">arrow_drop_down</i></a>
                <div class="collapsible-body">
                    < insert data here>
                </div>
            </li>
            <li>
                <a class="collapsible-header">placeholder<i class="material-icons">arrow_drop_down</i></a>
                <div class="collapsible-body">
                    < insert data here>
                </div>
            </li>
            <li>
                <a class="collapsible-header">placeholder<i class="material-icons">arrow_drop_down</i></a>
                <div class="collapsible-body">
                    < insert data here>
                </div>
            </li>
        </ul>
    </li>
</ul>

<div>
    <a href="#" id="sg" data-target="sg-slide-out"
        class="sidenav-trigger link valign-wrapper right hide-on-med-and-down">
        <i class="material-icons" style="padding-right:.3em">straighten</i>
        Beden tablosu
    </a>
</div>
