<%- include partials/header %>
<div class="container-fluid" style="margin-right: 10%; margin-left: 10%;">
    <div class="row" style="margin-top: 2rem;">

       <article style="font-family: sans-serif;" class="col s12 m6 l6 center grey lighten-5 ">
           <h3>ABOUT US</h3>
           <p>
               <b>Afrocheck</b>
                is a dynamic streetwear brand that works together with the JOKA charity foundation to help support needy, sick and poor communities in parts of Africa.
               Our dream is to build water pumps for clean drinking water, libraries and community shelters for poor neighborhoods in some parts of Africa.
               Afrocheck is Changing the Narrative of Streetwear, Connecting Culture through People, Art and Fashion.
               Every item you purchase on our website, sends <b>1 Euro</b> to the JOKA Foundation to save lives.
           </p>
           <p>
                We are very serious about the overall shopping experience for all our customers from the quality of our website to the after sales service for
               customers require that extra bit of care.
           </p>
           <p>
                To ensure that the quality of our product, we examine each product before they are shipped out to the customer.
               Our products been all 100% cotton and well tested, we have the ability,
               technical and we know how to ensure that all our customers get only the top-quality product when they purchase from us.
           </p>
           <h3>Shipping Information</h3>
           <p>
               While we endeavor to ship all orders placed before 2 PM the next business day, we cannot guarantee this, especially during promotional periods.
               You will receive an email once your order has been created; this email will include your order number along with tracking information.
               Please remember that all tracking numbers take a few hours (and sometimes up to 24 hours) to become active from the point of notification.
               This is because of the time delay between us packing and shipping an item and our delivery couriers updating their systems.
           </p>
           <h3>Return and Refund Policy</h3>
           <p>
               If you need to return an item, enter a claim in our About Us page within 30 days of purchase and we will email you back with further instructions.
               We do not refund purchases, however, if you are not satisfied with your order, you may return it for store credit which can be used future purchases.
           </p>
       </article>
        <div class="col s12 m6 l6 center grey lighten-5 ">
            <h3 style="text-decoration: underline">Contact</h3>
            <a target="_blank" style="font-size: x-large" href="https://www.facebook.com/afrocheckglobal"><strong>Facebook</strong></a>
            <br>
            <a target="_blank" style="font-size: x-large" href="https://www.instagram.com/afrocheck/"><strong>Instagram</strong></a>
            <br>
            <a target="_blank" style="font-size: x-large" href="https://twitter.com/afrocheckk"><strong>Twitter</strong></a>
            <br>
            <h5 style="text-decoration: underline">Phone</h5>
            <ul>
                <li><a href="tel:+358402518964">+35840 2518964</a></li>
                <img src="/images/wp.png" alt="">
            </ul>
            <h5 style="text-decoration: underline">Email</h5>
            <a href="mailto:afro.check@yahoo.com">afro.check@yahoo.com</a>
            <h5 style="text-decoration: underline">Location</h5>
            <p style="font-size: large">Helsinki</p>
        </div>

    </div>
</div>


<%- include partials/footer %>
