<%- include partials/header %>

<div class="container">
    <div class="row">
        <div class="types">
            <%- include partials/sidemenu %>
        </div>

        <img src="https://via.placeholder.com/900x200.jpg?text=insert+image+here" class="col s12 m8 offset-m1" style="padding-bottom:2em;" />
        <img src="https://via.placeholder.com/900x600.jpg?text=insert+image+here" class="col s12 m8 offset-m1" />
    </div>
</div>

<%- include partials/footer %>
