<%- include partials/header %>

    <div class="container">
        <div class="row">
            <div class="types">
                <%- include partials/sidemenu %>
            </div>
            <div style="margin: 3px; border-radius: 3px;" class="col s12 m8 offset-m1 black darken-4 ">
                <h5 style="font-family: 'Bree Serif', serif;" class="center-align white-text">
                    Every item you purchase on our website, sends 1 Euro to the JOKA Foundation to save lives.
                </h5>
            </div>
            <div class="col s12 m8 center grey lighten-5 ">
                <h3 style="font-weight: lighter; font-family: sans-serif; color: dimgray;">JOKA FOUNDATION</h3>
                <p style="font-family: sans-serif;">
                    JOKA charity foundation help’s support needy, sick and poor communities in parts of Africa.
                    Our dream is to build water pumps for clean drinking water, libraries, donate cloths, food,
                    medicine and community shelters for poor neighborhoods in some parts of Africa.
                </p>
            </div>

            <script>
                $(document).ready(function () {
                    $('.carousel').carousel({
                        fullWidth: true,
                        indicators: true
                    });
                });
            </script>

            <div class="col s12 m8 offset-m3 carousel black-text carousel-slider" style="margin-top:-40px">


                <div class=" carousel-item white white-text text-center">

                    <img style="
                                object-fit: contain;
                    width: 400px; height:300px;" src="/images/joka1.png">

                </div>

                <div class=" carousel-item white white-text text-center">
                    <img style="
                                object-fit: contain;
                    width: 400px; height: 300px;" src="/images/joka2.png">
                </div>
                <div class=" carousel-item white white-text text-center">
                    <img style="
                                object-fit: contain;
                    width: 400px; height: 300px;" src="/images/joka3.png">
                </div>
                <div class=" carousel-item white white-text text-center">
                    <img style="
                                object-fit: contain;

                    width: 400px; height: 300px;" src="/images/joka4.png">
                </div>
                <div class=" carousel-item white white-text text-center">
                    <img style="
                                object-fit: contain;
                width: 400px; height: 300px;" src="/images/joka5.png">
                </div>
                <div class=" carousel-item white white-text text-center">
                    <img style="
                                object-fit: contain;
                width: 400px; height: 300px;" src="/images/joka6.png">
                </div>

            </div>


        </div>


    </div>
    <%- include partials/footer %>