<%- include partials/header %>

<div class="container">
    <div style="margin: 3px; border-radius: 3px;" class="row black darken-4 ">
        <h4 
        style="font-family: 'Bree Serif', serif;"
        class="col s12 m12 l12 center-align white-text">
            Don't miss the discount! 50% discount this week.
        </h4>
        <h6 style="font-size: 10px;" class="col s12 m12 l12 center-align white-text">
            placeholder
        </h6>
    </div>
    <br>
    <div class="row">

    </div>
    <br>
    <div class="row">
        <img class="col s12 m10 offset-m1" src="/images/home.png" />
    </div>
    <br>
    <div class="row">
        <div class="col s12 m10 offset-m1">
            <div class="row">
                <img src="/images/p1.png"
                    class="col 12s 4m l4" />
                <img src="/images/p2.png"
                    class="col 12s 4m l4" />
                <img src="/images/p3.png"
                    class="col 12s 4m l4" />
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <img class="col s12 m10 l10 offset-m1 offset-l1" src="images/footer.png" />
    </div>
</div>

<br><br>

<%- include partials/footer %>
