<%- include partials/header %>

<div class="container">
    <div style="margin: 3px; border-radius: 3px;" class="row black darken-4 ">
        <h4 
        style="font-family: 'Bree Serif', serif;"
        class="col s12 m12 l12 center-align white-text">
            Afrocheck is Changing the Narrative of Streetwear, Connecting Culture through People, Art and Fashion.
        </h4>
    </div>
    <br>
    <div class="row">

    </div>
    <br>
    <div class="row">
        <img class="col s12 m6 " src="/images/home.png" />
        <img class="col s12 m6 " src="/images/home2.png" />
    </div>
    <br>
    <div class="row">
        <div class="center-align">
            <h2 STYLE="font-weight: lighter; font-style: italic; color: dimgray;">AFROCHECK Collection</h2>
        </div>


        
        <div class="col s12 m10 offset-m1">
        <div class="col s4 m4 l4">
                    <div  class="card">
                        <div class="card-image">
                            <img src="/images/p1.png">
                            <span class="card-title"></span>
                        </div>
                        <div class="card-action">
                            <a href="/product/1">Hoodie 1</a>
                        </div>
                    </div>
        </div>
        <div class="col s4 m4 l4">
                    <div class="card  ">
                        <div class="card-image">
                            <img src="/images/p2.png">
                            <span class="card-title"></span>
                        </div>
                        <div class="card-action">
                            <a href="/product/2">Hoodie 2</a>
                        </div>
                    </div>
        </div>
        <div class="col s4 m4 l4">
                    <div class="card ">
                        <div class="card-image">
                            <img src="/images/p3.png">
                            <span class="card-title"></span>
                        </div>
                        <div class="card-action">
                            <a href="/product/3">Hoodie 3</a>
                        </div>
                    </div>
        </div>
        </div>
        <div class="center-align">
            <a class="waves-effect waves-light btn" href="/<%=header.links[0]%>/hoodies">See all products</a>
        </div>
    <br>
    <div class="row">
        <img class="col s12 m6 " src="images/footer.png" />
        <img src="/images/footer2.png"  class="col s12 m6">
    </div>
</div>
</div>
<br><br>

<%- include partials/footer %>
