<%- include partials/header %>

<div class="container">
    <div style="margin: 3px; border-radius: 3px;" class="row green darken-4 ">
        <h4 style="font-style: oblique;" class="col s12 m12 l12 center-align white-text">
            %50 indirim şansını kaçırma!
        </h4>
        <h6 style="font-size: 10px;" class="col s12 m12 l12 center-align white-text">
            Seçili ürünlerde geçerlidir, stoklarla sınırlıdır.
        </h6>
    </div>
    <br>
    <div class="row">

    </div>
    <br>
    <div class="row">
        <img class="col s12 m10 offset-m1" src="https://images.unsplash.com/photo-1525119466982-286fa4d7cf5f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" />
    </div>
    <br>
    <div class="row">
        <div class="col s12 m10 offset-m1">
            <div class="row">
                <img src="https://images.unsplash.com/photo-1505734169265-a86113baa6c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80 334w"
                    class="col 12s 4m l4" />
                <img src="https://images.unsplash.com/photo-1505734169265-a86113baa6c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80 334w"
                    class="col 12s 4m l4" />
                <img src="https://images.unsplash.com/photo-1505734169265-a86113baa6c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80 334w"
                    class="col 12s 4m l4" />
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <img class="col s12 m10 l10 offset-m1 offset-l1" src="https://images.unsplash.com/photo-1525545073321-a0c3bc5f4c1b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80" />
    </div>
</div>

<br><br>

<%- include partials/footer %>
