<%- include partials/header %>
<div class="container-fluid" style="margin-right: 10%; margin-left: 10%;">
    <div class="row" style="margin-top: 2rem;">

        <form method="POST" action="/login" class="col s12 m6 l6">
            <h5 class="center">Oturum aç</h5>
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" name="email" type="email" class="validate">
                    <label for="email">(*)E-posta</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" name="password" type="password" class="validate">
                    <label for="password">(*)Parola</label>
                </div>
                <%if(wrongPass === 1) { %>
                <div class="row">
                    <p class="col s12 m12 l12 left red-text center lostpwd">Hatalı bir bilgi girdiniz ya da böyle bir
                        kullanıcı bulunmuyor.</p>
                </div>
                <%};%>
                <div class="switch">
                    <label>
                        <input type="checkbox">
                        <span class="lever"></span>
                        Oturumu açık tut
                    </label>
                </div>
            </div>
            <button type="submit" class="waves-effect waves-light btn light-green darken-4 white-text col s12 m12">Oturum
                Aç</button>
            <div class="row">
                <a href="/login/lost-password" class="col s12 m6 right black-text lostpwd">Parolanızı mı unuttunuz?</a>
            </div>
        </form>



        <div class="col s12 m6 l6">
            <div class=" card right">
                <div class="card-content black-text">
                    <span class="card-title">
                        <h5 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;" class="center">
                            Yeni
                            Müşteri</h5>
                    </span>
                    <p>Daha kolay ve sorunsuz bir alışveriş için bir Zalina hesabı oluşturun!</p>
                </div>
                <div class="card-action center">

                    <a href="/register" class="light-green darken-4 waves-effect waves-light btn z-depth-1">
                        BİZE KATILIN
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>


<%- include partials/footer %>
