<%- include partials/header %>
    <div class="row">
        <div class="col s3"></div>
        <form action="/cart" method="get" class="col s12 m6 l6 offset-lg3">
            <div class="row center-align">
                <h5>Give us detail about yourself</h5>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input name="firstname" placeholder="Placeholder" id="first_name" type="text" class="validate">
                    <label for="first_name">First Name</label>
                </div>
                <div class="input-field col s6">
                    <input name="surname" id="last_name" type="text" class="validate">
                    <label for="last_name">Last Name</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input name="email" id="email" type="email" class="validate">
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input name="address" id="address" type="text" class="validate">
                    <label for="address">Your Address</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input name="number" id="email" type="number" class="validate">
                    <label for="number">Phone Number</label>
                </div>
            </div>
            <div class="col s5 center-align"></div>

            <input type="submit" name="submit" value="CONTINUE PURCHASING" style="
        font-weight: bold;
        border-radius: 5px; border-style: none; padding: 10px;" class="black white-text">

        </form>

    </div>
    <%- include partials/footer %>