<div class="nav-wrapper">
    <ul class="row">
        <div class="col offset-l3">
            <% header[headerLang].categories.forEach((category, index) => { %>
            <li class="col">
                <a style="font-size: 12px" class="black-text" href="/<%= header.links[index] %>">
                    <%= category %>
                </a>
            </li>
            <% }); %>
        </div>

        <div class="col right">
            <form>
                <div class="input-field">
                    <input id="search" type="search" style="height:auto" placeholder="<%= session.siteText[session.siteLang].search %>" required>
                    <label class="label-icon black-text" for="search"><i class="material-icons black-text">search</i></label>
                </div>
            </form>
        </div>
    </ul>
