<%- include partials/header.ejs %>

<ul class="collapsible">
    <li>
        <div class="collapsible-header">
            <i class="material-icons">add</i>
            Home & Campaign Announcement
        </div>
        <div class="collapsible-body">
            <form class="row" action="/panel/editanno" id="editanno" method="POST">
                <div class="row center">
                    <h4> Home Campaign Announcement</h4>

                    <div class="input-field col s12 m12 l12">
                        <input placeholder="Ex. ( Don't miss the chance to get 50% off! )" id="first_name" type="text"
                            class="validate">
                        <label for="first_name">Title</label>
                    </div>
                    <div class="input-field col s12 m12 l12">
                        <input placeholder="Ex. ( Valid for selected products, limited by stocks.  )" id="last_name"
                            type="text" class="validate">
                        <label for="last_name">Content</label>
                    </div>

                </div>
                <div class="row center">
                    <h4> </h4>
                    <div class="input-field col s12 m4 l4">
                        <input id="first_name" type="text" class="validate">
                        <label for="first_name">1.link title</label>
                    </div>
                    <div class="input-field col s12 m4 l4">
                        <input id="first_name" type="text" class="validate">
                        <label for="first_name">2.link title</label>
                    </div>
                    <div class="input-field col s12 m4 l4">
                        <input id="first_name" type="text" class="validate">
                        <label for="first_name">3.link title</label>
                    </div>
                </div>
                <div class="row center">
                    <h4> </h4>
                    <div class="input-field col s12 m4 l4">
                        <input id="first_name" type="text" class="validate">
                        <label for="first_name">1.link</label>
                    </div>
                    <div class="input-field col s12 m4 l4">
                        <input id="first_name" type="text" class="validate">
                        <label for="first_name">2.link</label>
                    </div>
                    <div class="input-field col s12 m4 l4">
                        <input id="first_name" type="text" class="validate">
                        <label for="first_name">3.link</label>
                    </div>
                </div>


            </form>
        </div>
    </li>
    <li>
        <div class="collapsible-header">
            <i class="material-icons">add</i>
            Home Page banners
        </div>
        <div class="collapsible-body">
            <div class="row">
                <button type="file" class="col s12 m12 l12">Top main banner</button>
            </div>
            <div class="row">
                <button type="file" class="col s12 m4 l4">Middle banner 1</button>
                <button type="file" class="col s12 m4 l4">Middle banner 2</button>
                <button type="file" class="col s12 m4 l4">Middle banner 3</button>

            </div>
            <div class="row">
                <button type="file" type="file" class="col s12 m12 l12">Bottom main banner</button>
            </div>
        </div>
    </li>
    <li>
        <div class="collapsible-header">
            <i class="material-icons">add</i>
            Category banners
        </div>
        <div class="collapsible-body">
            <div class="row">
                <button type="file" class="col s3 m3 l3">Top tiny banner</button>
                <button type="file" class="col s9 m9 l9">banner</button>

            </div>
        </div>
    </li>
</ul>


<%- include partials/footer.ejs%>