<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>

    <nav class="nav-extended white">
        <div class="nav-wrapper" style="padding-top: 1.5em">
            <a href="/" class="brand-logo center">
                <img style="width: 25%; border-radius: 5px;" class="responsive-img" src="/images/zalinalogo.png" />
            </a>
            <br><br>
        </div>
    </nav>
    <div class="container">

        <div class="row" style="margin-top: 5%;">
            <div class="header center"> Yönetici Paneli </div>

            <div class="col s12 m12 l12">
                <div class=" collection white black-text">
                    <a class="collection-item black-text" href="/panel/selectcategory"> Ürün Ekle<span class="badge"><i class="tiny material-icons">add</i></span> </a>
                    <a class="collection-item black-text" href="/panel/edit"> Ürün Düzenle<span class="badge"><i class="tiny material-icons">edit</i></span> </a>
                    <a class="collection-item black-text" href="/panel/editcampanno"><span class="badge"><i class="tiny material-icons">announcement</i></span> Duyuru & Kampanya Bildirileri</a>
                    <a class="collection-item black-text" href="/panel/manageorders">Siparişler<span class="badge"><i class="tiny material-icons">add_shopping_cart</i></span></a>

                    <a class="collection-item black-text" href="#">E-Bülten Ayarları<span class="badge"><i class="tiny material-icons">settings</i></span></a>
                    <a class="collection-item black-text" href="#">Geliştirici Ayarları<span class="badge"><i class="tiny material-icons">build</i></span></a>
                </div>
            </div>
        </div>
